/*
  Alice main stylesheet
  Author: vanhock
*/

/* Base styles */

body,html
{
   background: #ECECEC !important;
}

.background
{
   background: #ECECEC !important;
}

.main
{
  margin: 10px auto 0 auto !important;
}

.oleg-list
{
  text-align: center
}

.oleg-list h1
{
  padding: 20px 0 10px 0 !important;
}

.oleg-list .cards
{

}

.oleg-list h2
{
  margin: 25px 0 43px 0;color: #F2711C;
}

.oleg-list .message
{
  margin: 25px 0 0 0;
  font-size: 20px;
}

.oleg-sidebar
{

}
